{% extends 'base.html' %}
{% block content %}
<div class="container mt-5 mb-5">
    <h1>Política de Privacidade</h1>
    <p>Última atualização: Hoje</p>
    <hr>
    <p>A tua privacidade é importante para nós. É política da DjangoStore respeitar a tua privacidade em relação a qualquer informação tua que possamos recolher no site.</p>
    <p>Solicitamos informações pessoais apenas quando realmente precisamos delas para te fornecer um serviço (ex: enviar a encomenda). Fazemo-lo por meios justos e legais, com o teu conhecimento e consentimento.</p>
    <p>Não partilhamos informações de identificação pessoal publicamente ou com terceiros, exceto quando exigido por lei.</p>
</div>
{% endblock %}