{% extends 'base.html' %}
{% block content %}
<div class="container mt-5 mb-5">
    <h1>Termos e Condições</h1>
    <hr>
    <h3>1. Termos</h3>
    <p>Ao aceder ao site DjangoStore, concordas em cumprir estes termos de serviço, todas as leis e regulamentos aplicáveis.</p>
    <h3>2. Uso de Licença</h3>
    <p>É concedida permissão para descarregar temporariamente uma cópia dos materiais (informações ou software) no site DjangoStore, apenas para visualização transitória pessoal e não comercial.</p>
    <h3>3. Devoluções</h3>
    <p>Aceitamos devoluções num prazo de 14 dias após a receção da encomenda, desde que o produto esteja selado.</p>
</div>
{% endblock %}